* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  pointer-events: none;
}

*::-webkit-scrollbar {
  display: none
}

body {
  scroll-snap-type: both mandatory;
  overscroll-behavior-y: contain;
  overflow: hidden
}

/* HEADER */
.header {
  background-color: #000;
  position: fixed;
  width: 100vw;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2
}

.header img {
  width: 130px;
  height: auto;
  object-fit: contain;
  object-position: center
}

.main {
  min-height: 120vh;
  padding-top: 100px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/home/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow-x: hidden
}

/* SECTIONS */
section.entity-section {
  width: 100vw;
  height: 260px;
  margin-bottom: 20px;
  border: none
}

section.entity-section h2 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.11px;
  line-height: 1.4;
  color: #FFF
}

section.entity-section[focused="true"] {
  scroll-snap-align: center center;
  scroll-snap-stop: normal
}

/* PORTAL ITEMS */

portal-header {
  padding: 0 40px;
  width: 100vw;
  display: block
}

portal-row {
  width: 100vw;
  height: 250px;
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 40px;
  overflow-x: scroll;
  scroll-snap-type: both mandatory;
  overscroll-behavior-y: contain
}

portal-entity {
  opacity: 0;
  animation: fly-in-right 0.8s linear forwards;
}

section.entity-section portal-entity video {
  display: none
}

/* show video when item is focused */
section.entity-section[focused="true"] portal-entity[entityFocused="true"] img:not(.static) {
  animation: fade-out 0.2s linear forwards;
  animation-delay: 1.5s
}

section.entity-section[focused="true"] portal-entity[entityFocused="true"] img.static {
  filter: brightness(50%);
}

section.entity-section[focused="true"] portal-entity[entityFocused="true"] img+h3 {
  z-index: 1;
}

section.entity-section[focused="true"] portal-entity[entityFocused="true"] video {
  display: block
}

/* CARDS */
.card {
  display: flex;
  overflow: hidden;
  height: 192px;
  width: 340px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  margin-right: 20px;
  border: 2px solid transparent
}

.card h3 {
  z-index: 0;
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 100%;
  color: white
}

.card img {
  object-fit: cover;
  z-index: 1;
  flex: 1;
}

.card video {
  position: absolute;
  width: inherit;
  height: inherit;
  flex: 1
}

/* animation when entity is focused */
section.entity-section[focused="true"] portal-entity[entityFocused="true"] .card {
  transform: scale(1.1);
  border: 2px solid #FFF;
  transition: 0.6s ease-in-out;
  position: relative
}

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #373737c1
}

.modal-container {
  height: 90vh;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(#000, 0.25);
  color: #FFF;
  animation: fade-in-down 0.5s ease forwards;

  @media (max-width: 600px) {
    width: 90%
  }
}

.modal-container-header {
  padding: 16px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.modal-container-body {
  padding: 0 32px;
  padding-top: 64px;
  overflow-y: auto
}

.modal-container .modal-container-body img {
  object-fit: cover;
  object-position: center;
  width: 200px !important;
  height: auto;
}

.details h2 {
  font-size: 40px;
  line-height: 1.25
}

.details p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.6;
  max-width: 50%;
  margin-bottom: 60px
}

.button {
  display: inline-flex;
  max-height: 55px;
  padding: 16px 32px;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;
  background-color: #FFF;
  color: #000;
  margin-right: 8px;
  vertical-align: middle;
  transform: scale(1.05)
}

.button:not(.focused) {
  opacity: 0.5;
  transform: scale(1);
}

button svg {
  max-height: 20px;
  max-width: 20px;
  margin-right: 12px
}

.badge-container {
  margin-top: 24px;
}

.badge-container span{
  margin-right: 8px;
  font-size: 12
}

.badge {
  border-radius: 5px;
  background-color: #535353;
  color: #FFFF;
  display: inline-block;
  font-size: 12;
  font-weight: 500;
  line-height: 1;
  padding: 4px 8px;
  text-align: center;
  vertical-align: initial;
  white-space: nowrap
}

/* ANIMATIONS */

@keyframes fade-out {
  from {
    opacity: 1
  }

  to {
    opacity: 0;
    display: none
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px)
  }

  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fly-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px)
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.slider {
  width: 100vw;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-left: 5%;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slides > div {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 98vw;
  height: 50vh;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 100px;
  font-size: 100px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.slides > div img {
  width: 350px;
  height: auto;
}

